<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="name!='Recipe not Found'; else notFound">
    <ion-img alt="{{ name }}" src="assets/img/{{ name }}.jpg" ></ion-img>
    <ion-card-header>
      <ion-card-title class="ion-text-uppercase">{{ name }}</ion-card-title>
      <ion-card-subtitle>Food</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ description }}

      <br><br>
      <strong class="ion-text-uppercase">Ingredients</strong> 
      <br>
      <ul>
        <li *ngFor="let ingredient of ingredients; let i = index">
          {{ ingredient.description }}
        </li>
      </ul>
      <br>
      <strong class="ion-text-uppercase">Instructions</strong> 
      <br>
      <ol>
        <li *ngFor="let instruction of instructions; let i = index">
          {{ instruction.description }}
        </li>
      </ol>
 
    </ion-card-content>
  </ion-card>

  <ng-template #notFound>
    <div id="container" class="ion-text-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-uppercase">{{ name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>

</ion-content>
