<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IonRecipe Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IonRecipe Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card routerLink="/recipe/1">
      <img alt="Adobo" src="assets/img/adobo.jpg" />
      <ion-card-header>
        <ion-card-title class="ion-text-uppercase">Adobo</ion-card-title>
        <ion-card-subtitle>Food</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Chicken stew with soy sauce. Usually sweet, salty and spicy 
      </ion-card-content>
    </ion-card>
    <ion-card routerLink="/recipe/2">
      <img alt="Lumpia" src="assets/img/lumpia.jpg" />
      <ion-card-header>
        <ion-card-title class="ion-text-uppercase">Lumpia</ion-card-title>
        <ion-card-subtitle>Food</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Vegetable dish wrapped with a yellow wrapper. Comes with vinegar sauce
      </ion-card-content>
    </ion-card>
    <ion-card routerLink="/recipe/3">
      <img alt="Tapsilog" src="assets/img/tapsilog.jpg" />
      <ion-card-header>
        <ion-card-title class="ion-text-uppercase">Tapsilog</ion-card-title>
        <ion-card-subtitle>Food</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Served during breakfast, comes with fried rice and egg.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
